<section class="services" style="margin-top: 1.5%;">
    <div class="section-header center">
      <!-- <h2>My Achievements</h2> -->
      <div class="container">
          <div class="sign" id="one">M</div>
          <div class="sign" id="one">y</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="two">A</div>
          <div class="sign" id="two">c</div>
          <div class="sign" id="two">h</div>
          <div class="sign" id="three">i</div>
          <div class="sign" id="four">e</div>
          <div class="sign" id="four">v</div>
          <div class="sign" id="four">e</div>
          <div class="sign" id="four">m</div>
          <div class="sign" id="four">e</div>
          <div class="sign" id="four">n</div>
          <div class="sign" id="four">t</div>
          <div class="sign" id="four">s</div>
      </div>
    </div>
    <div class="container center space">
      <div class="row">
        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-book"></i></p>
              <a
                href="https://www.codechef.com/users/jabhi_18"
                class="service-title mar"
                >Codechef</a
              >
              <p class="service-content mar2">
                <strong>jabhi_18</strong> is my Codechef ID. I am 4-star coder
                at this platform. I have solved 250+ problems on it. I secured
                global rank 25 in Feb Long Challenge 2020 and global rank 134
                in April Long Challenge 2020.My highest rating on Codechef is
                1961.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-laptop"></i></p>
              <a
                href="https://codeforces.com/profile/jabhi_18"
                class="service-title mar"
                >Codeforces</a
              >
              <p class="service-content mar2">
                <strong>jabhi_18</strong> is my Codeforces ID. I am specialist
                at this platform. I have solved 180+ problems on it. I secured
                global rank 890 in Codeforces round 607, div 2 and global rank
                970 in Codeforces round 611, div 3. My highest rating on
                Codeforces is 1527.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-leaf"></i></p>
              <a
                href="https://www.hackerrank.com/abhishekjaiswa12"
                class="service-title mar"
                >Hackerrank</a
              >
              <p class="service-content mar2">
                <strong>abhishekjaiswa12</strong> is my Hackerrank ID. I am
                6-star coder at this platform. I have solved 200+ problems on
                it. I secured global rank 43 in Hack the Interview -
                Global,March 2020 and global rank 362 in Hack the Interview
                2nd- Global,April 2020.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-binoculars"></i></p>
              <a
                href="https://www.hackerrank.com/abhishekjaiswa12"
                class="service-title mar"
                >HackerEarth</a
              >
              <p class="service-content mar2">
                <strong>abhishekjaiswa12</strong> is my Hackerrank ID. I am
                6-star coder at this platform. I have solved 200+ problems on
                it. I secured global rank 43 in Hack the Interview -
                Global,March 2020 and global rank 362 in Hack the Interview
                2nd- Global,April 2020.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-calendar"></i></p>
              <a
                href="https://www.hackerrank.com/abhishekjaiswa12"
                class="service-title mar"
                >Leetcode</a
              >
              <p class="service-content mar2">
                <strong>abhishekjaiswa12</strong> is my Hackerrank ID. I am
                6-star coder at this platform. I have solved 200+ problems on
                it. I secured global rank 43 in Hack the Interview -
                Global,March 2020 and global rank 362 in Hack the Interview
                2nd- Global,April 2020.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 myview">
          <div class="services-inner">
            <div class="services-inner-content">
              <p class="icon"><i class="fa fa-camera"></i></p>
              <a
                href="https://www.hackerrank.com/abhishekjaiswa12"
                class="service-title mar"
                >BinarySearch</a
              >
              <p class="service-content mar2">
                <strong>abhishekjaiswa12</strong> is my Hackerrank ID. I am
                6-star coder at this platform. I have solved 200+ problems on
                it. I secured global rank 43 in Hack the Interview -
                Global,March 2020 and global rank 362 in Hack the Interview
                2nd- Global,April 2020.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>