{% load static %}
<section class="services" style="margin-top: 2%;">
    <div class="section-header center">
      <!-- <h2>My Achievements</h2> -->
      <div class="container">
          <div class="sign" id="one">M</div>
          <div class="sign" id="one">y</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="two">A</div>
          <div class="sign" id="two">d</div>
          <div class="sign" id="three">d</div>
          <div class="sign" id="four">r</div>
          <div class="sign" id="four">e</div>
          <div class="sign" id="four">s</div>
          <div class="sign" id="four">s</div>
      </div>
    </div>
    <div class="container center space">
        <div class="row">
          <div class="col-md-12 myview" style="height: 200px; width: 1130px">
            <div class="col-md-3">
              <div class="card-text1" style="color: rgb(221, 215, 215);text-align: left;margin-top: 33px;">
                <p class="card-texts"><strong>Town: </strong> Khadda</p>
                <p class="card-texts"><strong>District: </strong> Kushinagar</p>
                <p class="card-texts"><strong>Nearest City: </strong> Gorakhpur</p>
                <p class="card-texts"><strong>State: </strong> Uttar Pradesh</p>
                <p class="card-texts"><strong>Country: </strong> India</p>
                <p class="card-texts"><strong>Zipcode: </strong> 274802</p>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="card-text1" style="color: rgb(221, 215, 215);text-align: center;margin-top: 22%;">
                <p class="card-texts">Near Railway Station, Sabji Mandi, Khadda, Kushinagar, 274802 </p>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="img-square-wrapper" style="margin-top: 10px;">
                <a href="https://www.google.com/maps/place/27%C2%B010'49.9%22N+83%C2%B052'03.8%22E/@27.1769942,83.8350839,14696m/data=!3m1!1e3!4m5!3m4!1s0x0:0x54fb8c1d86091e4d!8m2!3d27.1805156!4d83.8677311" target="_blank" rel="noopener noreferrer"><img class="" src="{% static 'app/images/map.jpg' %}" alt="Card image cap" style="margin-right: -75px; width: 300px; height: 180px;"></a>
            </div>
            </div>
          </div>
        </div>
      </div>
      
</section>

