<section class="services" style="margin-top: 4%;">
    <div class="section-header center">
      <!-- <h2>My Achievements</h2> -->
      <div class="container" style="margin-bottom: -80px;">
          <div class="sign" id="one">G</div>
          <div class="sign" id="one">e</div>
          <div class="sign" id="one">t</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="two">I</div>
          <div class="sign" id="two">n</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="three">T</div>
          <div class="sign" id="four">o</div>
          <div class="sign" id="four">u</div>
          <div class="sign" id="four">c</div>
          <div class="sign" id="four">h</div>
          <!-- <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="four">W</div>
          <div class="sign" id="four">i</div>
          <div class="sign" id="four">t</div>
          <div class="sign" id="four">h</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="four">M</div>
          <div class="sign" id="four">e</div> -->
      </div>
    </div>
    <section class="webdesigntuts-workshop">
        <form action="/send" method="post">
            {% csrf_token %}
          <input type="search" placeholder="Your Name">         
          <input type="search" placeholder="Your Message For Me" style="margin-left: 5px;margin-right:5px; width:700px">          
          <button type="submit" class="glow-on-hover">Send</button>
        </form>
      </section>
</section>


