<section class="services" style="margin-top: 1.5%;">
    <div class="section-header center">
      <!-- <h2>My Achievements</h2> -->
      <div class="container" style="margin-top: 25px;margin-bottom: 50px;">
          <div class="sign" id="one">M</div>
          <div class="sign" id="one">y</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="two">S</div>
          <div class="sign" id="two">p</div>
          <div class="sign" id="two">e</div>
          <div class="sign" id="three">c</div>
          <div class="sign" id="four">i</div>
          <div class="sign" id="four">a</div>
          <div class="sign" id="four">l</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="four">C</div>
          <div class="sign" id="four">o</div>
          <div class="sign" id="four">u</div>
          <div class="sign" id="four">n</div>
          <div class="sign" id="four">t</div>
          <div class="sign" id="four">s</div>
      </div>
    </div>
    <div class="container">
      
      <div class="wrapper">
        <div class="counter col_fourth">
          <i class="fa fa-code fa-2x"></i>
          <h2 class="timer count-title count-number" data-to="2000" data-speed="2000"></h2>
          <p class="count-text ">Problems Solved</p>
        </div>
      
        <div class="counter col_fourth">
          <i class="fa fa-coffee fa-2x"></i>
          <h2 class="timer count-title count-number" data-to="10" data-speed="2000"></h2>
          <p class="count-text ">Projects Completed</p>
        </div>
      
        <div class="counter col_fourth">
          <i class="fa fa-lightbulb-o fa-2x"></i>
          <h2 class="timer count-title count-number" data-to="4" data-speed="2000"></h2>
          <p class="count-text ">Internships</p>
        </div>
      
        <div class="counter col_fourth end">
          <i class="fa fa-laptop fa-2x"></i>
          <h2 class="timer count-title count-number" data-to="30" data-speed="2000"></h2>
          <p class="count-text ">Skills Learned</p>
        </div>
      </div>
          </div>
  </section>