<header>
    <div class="container">
      <div class="row">
        <!-- <a href="#" class="logo">portfolio</a> -->
        <div class="main"><strong class="webdev">PORTFOLIO</strong></div>
        
        <nav class="pull-right right">
          <button
            type="button"
            class="btn"
            data-target="#menu"
            data-toggle="collapse"
          >
            <i class="fa fa-navicon"></i>
          </button>
          <div class="collapse" id="menu">
            <ul class="transparent-bg center">
              <li><a href="#">Home</a></li>
              <li><a href="#">Personal Details</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">Achievements</a></li>
              <li><a href="#">About Me</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>