<section class="services" style="margin-top: 80px;margin-bottom: 70px;">
    <div class="section-header center">
      <!-- <h2>My Achievements</h2> -->
      <div class="container" style="margin-bottom: 70px;">
          <div class="sign" id="one">M</div>
          <div class="sign" id="one">y</div>
          <div class="sign" id="">&nbsp;</div>
          <div class="sign" id="two">S</div>
          <div class="sign" id="three">k</div>
          <div class="sign" id="four">i</div>
          <div class="sign" id="four">l</div>
          <div class="sign" id="four">l</div>
          <div class="sign" id="four">s</div>
      </div>
    </div>


    <div class="container" style="margin-left: 14%;">
        <div class="row">
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        DSA 90%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle1" id="html-circle1" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>
        
                
            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        Python 90%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle2" id="html-circle2" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                         C++ 60%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle3" id="html-circle3" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        Django 85%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle4" id="html-circle4" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        SpringBoot 65%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle5" id="html-circle5" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>
        
                
            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        AWS 40%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle6" id="html-circle6" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        Frontend 70%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle7" id="html-circle7" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            <div class="col-md-3">
                <div class="skill">
                    <div class="outer">
                    <div class="inner">
                        <div id="number">
                        Backend 80%
                        </div>
                    </div>
                    </div>
                    <span class="html-circle-skill">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                        </defs>
                        <circle class = "html-circle8" id="html-circle8" cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    </span>
                </div>

            </div>
            
        </div>
</div>

</section>